html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.news-list {  
  display: flex;
  flex-direction: column;
  margin: 30px auto;  
}

.news-item {
  display: flex;
  flex-direction: row;

  margin-top: 3em;
  padding: .5em;
  border-style: solid;
  border-width: 1px;
}

.news-col1 {

}

.news-col2 {
  margin-left: 30px;
}

.news-publisher-info {
  display: flex;
  flex-direction: row;    
}

.news-publisher-logo {
  position: relative;
  text-align: bottom;  
  margin-right: .5em;
}

.news-publisher-name {
  position: relative;
  text-align: bottom;  
  font-weight: 500;
  margin-right: .5em;
  margin-top: .4em;
}

.news-publisher-when {
  position: relative;
  text-align: bottom;  

  margin-right: .5em;
  margin-top: .4em;

}

.news-tags {
  display: flex;
  flex-direction: row;  
}

.news-tag {
  margin-top: 15px;
  margin-right: 10px; 
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-weight: 500;
}



.news-title {
  font-size: large;
  font-weight: 500;
}

.stock-symbol {
  font-weight: 700;
}

.stock-name {
  font-size: xx-large;
  font-weight: 700;
}

.stock-price-section {
  display: flex;
  flex-direction: row;  
  align-items: center;
}

.stock-share-price {  
  font-size: xx-large;
  font-weight: 700;
  margin-right: .25em;  
}

.stock-currency {
  text-align: center; 
  font-size: large;
  font-weight: 500;
  margin-right: .25em;  
}

.stock-share-change {
  text-align: center; 
  font-size: large;
  font-weight: 500;
}

.stock-share-bullet {
  background-color: red;
  color: white;
  padding: .5em;
  font-size: small;
  font-weight: 500;
  border-radius: 5px;
}

.stock-close-section {
  display: flex;
  flex-direction: row;  
  align-items: center;
}

.stock-close -price {  
  font-size: xx-large;
  font-weight: 700;
  margin-right: .25em;  
}

.stock-positions-section {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 100px);
  background-color: #ededed;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

.stock-positions-label {
  font-size: medium;
  font-weight: 500;
  color: gray;
}

.stock-positions-value {
  font-size: medium;
  font-weight: 500;
  color: black;
}

.stock-close-change {
  font-size: large;
  font-weight: 500;
  color: black;
}